<div class="row mt-5">
  <div class="col-md-4 m-auto">
    <div class="card card-body">
      <h1 class="text-center">
        <i class="far fa-user" style="color: #f0f"></i>
        Register
      </h1>
      <form action="#" method="post">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter name"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <div class="form-group">
          <label for="Password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
          />
        </div>
        <button type="submit" class="btn btn-info btn-block">Register</button>
      </form>
      <p class="lead mt-3">Have An Account? <a href="/users/login">Login</a></p>
    </div>
  </div>
</div>
